body {
  background-image: url("../images/background.jpg");
  font-family: 'Graduate', cursive;
  color: #FF7F50;

}

#title {
  color: #ffb700;
  font-size: 90px;
  margin: 20px;
  padding-bottom: 30px;
  padding-top: 50px;
}

h3 {
  font-size: 35px;
  padding-bottom: 50px;
}

button {
  height: 50px;
  width: 400px;
  margin: 15px;
}

h2 {
  color: #ff725c;
  font-size: 45px;
}
